@page "/register"

<h3>Регистрация</h3>
<input size="50" /> <br>
<input size="50" /> <br>
<input size="50" /> <br>
<button  >Зарегистрироваться</button><br>
<NavLink href="login">
    или войти
</NavLink>

@code {

}
