@inherits NavMenuBase

<a href="">POKERBOOM</a>


<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

@*<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
      Home
</NavLink>
<NavLink class="nav-link" href="sendall">
      Send Message
</NavLink>
<NavLink class="nav-link" href="login">
      Login
</NavLink>*@

@code {
    
}
